/* index.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("https://cdn1.epicgames.com/offer/3a212c0da4f1438e840c21565df4b6fe/EGS_MultiVersus_PlayerFirstGames_S1_2560x1440-0fcb13a50e3f35e168a9bf7e466033ab");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 10px; /* Optional: adds rounded corners to the container */
}

header {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-bottom: 3px solid #ff5722;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  color: #ff5722;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

main {
  text-align: center;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px; /* Optional: adds rounded corners to the main section */
  color: #ffffff;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.character-card {
  background: rgba(55, 55, 55, 0.8); /* Semi-transparent background */
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.character-card img {
  max-width: 100%;
  border-radius: 5px;
}

.character-card h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.character-card p {
  margin-top: 5px;
  font-size: 1.2rem;
}

.guess-character {
  margin-bottom: 20px;
}

.guess-character img {
  max-width: 100%;
  border-radius: 5px;
}

.guess-result {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px; /* Optional: adds rounded corners to the form */
}

label {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #373737;
  color: #000;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff5722;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f44336;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-top: 3px solid #ff5722;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ff5722;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.loader {
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 80%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.react-select-options {
  color: black;
}
